@charset "UTF-8";

* {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

body {
    width: 100%;
}
.tb{
    display: none;
}

#choose {
    display: none;
}

.import-btn {
    display: none;
}

img {
    width: 100%;
}

  textarea {
      resize: none;
  }

  a{
    color: #000;
  }
a:hover {
    cursor: pointer;
}

.body-content {
    padding-top: 100px;
}

.cart,
.book-pg,
.ebook-pg,
.detail,
.contact-pg,
.order-pg,
.order-detail-pg,
.author-pg,
.auth-book,
.auth-ebook,
.category-pg,
.auth-feedback,
.auth-order,
.auth-order-detail,
.payment-pg,
.user-pg,
.user-edit-pg,
.profile-pg {
    min-height: 77vh;
}
.mv {
    min-height: 60vh;
}

.f-2 {
    font-size: 36px;
}
.f-3 {
    font-size: 28px;
}

.f-4 {
    font-size: 22px;
}

.f-5 {
    font-size: 20px;
}
.f-6 {
    font-size: 18px;
}

.f-7 {
    font-size: 16px;
}

.f-s {
    font-size: 14px;
}

.bookhouse
 {
    color: yellow;
}

.mark-txt {
    color: #0760ae;
}

.alert-txt {
    color: #ff1100;
}

.green-txt {
    color: #4be617;
}

/* Public */
.logo,
.f-logo {
    width: 70px;
}

.profile{
    width: 50px;
    height: 50px;
 }

.mv-txt {
    background: url("../images/img_index_bg1.png") no-repeat center/contain;
}

.book-cover {
    height: 230px;
}

.book-card:hover {
    box-shadow: 0 0 15px #e3e7e0;
    opacity: 0.9;
}

.contact-txt {
    line-height: 1.4;
}

.mv .row {
    --bs-gutter-x: 0;
}

/* User */
.bg-image{
    position: relative;
    width: 100%;
    background: url('../images/bg5.jpg') no-repeat center/cover;
    padding-top: 200px;
    padding-bottom: 200px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.content{
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.sec-what{
    padding-top: 50px;
    background-color: rgb(105, 105, 117);
}

.sec-what .box-two .text{
    padding-top: 140px;
}


/* Responsive Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .body-content {
        padding-top: 80px;
    }

    .cart,
    .book-pg,
    .ebook-pg,
    .detail,
    .contact-pg,
    .order-pg,
    .order-detail-pg {
        min-height: 70vh;
    }

    .f-2 {
        font-size: 28px;
    }
    .f-3 {
        font-size: 22px;
    }

    .f-4 {
        font-size: 18px;
    }

    .f-5 {
        font-size: 16px;
    }
    .f-6,
    .btn {
        font-size: 14px;
    }

    .f-s {
        font-size: 12px;
    }

    /* Public */
    .logo,
    .f-logo {
        width: 60px;
    }

    .profile{
        width: 35px;
        height: 35px;
     }

    .book-cover {
        height: 160px;
    }

    .book-card:hover {
        box-shadow: 0 0 15px #e3e7e0;
        opacity: 0.9;
    }

    .contact-txt {
        line-height: 1.4;
    }
    /* User Dashboard */
    .tb{
        display: block;
    }

    .sec-what .box-one .text{
        padding-top: 80px;
    }
    .sec-what .box-two .text{
        padding-top: 50px;
    }
}

/* Smart phone */
@media screen and (max-width: 767.9px){
    .body-content {
        padding-top: 70px;
    }

    .cart,
    .book-pg,
    .ebook-pg,
    .detail,
    .contact-pg,
    .order-pg,
    .order-detail-pg {
        min-height: 87vh;
    }

    .f-2 {
        font-size: 36px;
    }
    .f-3 {
        font-size: 28px;
    }

    .f-4 {
        font-size: 22px;
    }

    .f-5 {
        font-size: 20px;
    }
    .f-6 {
        font-size: 18px;
    }

    .f-s {
        font-size: 14px;
    }

    /* Public */
    .logo,
    .f-logo {
        width: 70px;
    }

    .profile{
        width: 36px;
        height: 36px;
     }

    .book-cover {
        height: 190px;
    }

    .contact-txt {
        line-height: 1.4;
    }

    .order-pg .row {
    --bs-gutter-x: 0;
    }

    /* Admin Dashboard */
    .arrow{
        display: none;
    }
    .box {

        justify-content: space-evenly;
    }
    .box button{
        font-size: 10px;
    }
    .box i{
        display: none;
    }
    .list-one{
        height: 250px;
    }

    .list-two{
        height: 250px;
    }
    .graph .g-one {
        margin-bottom: 15px;
    }
    .graph .f-3 {
        margin-bottom: 10px;
    }
    /* User Dashboard */
    .tb {
        display: block;
    }
    .sec-what{
        text-align: center;
        line-height: 1.4;
    }
    .sec-what img{
        display: none;
    }
    .sec-what .box-one {
        padding-bottom: 30px;
        border-bottom: 3px solid whitesmoke;
    }
    .sec-what .box-one .text{
        width: 100%;
    }
    .sec-what .box-two .text{
        padding-top: 10px;
        width: 100%;
    }

}
