@charset "UTF-8";

* {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

body {
    width: 100%;
    margin: auto 0;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 80%;
}
.logo {
    width: 30%;
}
#choose {
    display: none;
}

.import-btn {
    display: none;
}

img {
    width: 100%;
}
#profile{
   width: 70px;
}

a {
    text-decoration: none;
    color: #000;
  }
  textarea {
      resize: none;
  }
a:hover {
    cursor: pointer;
}

.body-content {
    padding-top: 6.944vw;
}

.detail {
    min-height: 60vh;
}

.cart {
    min-height: 65vh;
}

.price,
.up-date {
    font-size: 14px;
}

.md-img {
    margin-bottom: 100px;
}

.bookhouse,
.green-txt {
    color: #66d405;
}

.mv-txt {
    background: url("../images/img_index_bg1.png") no-repeat center/contain;
}

.mark-txt {
    color: #0760ae;
}

.alert-txt {
    color: #ff1100;
}

.book-card:hover {
    box-shadow: 0 0 15px #e3e7e0;
    opacity: 0.9;
}

.profile {
    width: 50px;
}

.bg-image{
    position: relative;
    width: 100%;
    background: url('../images/bg5.jpg') no-repeat center/cover;
    padding-top: 200px;
    padding-bottom: 200px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.content{
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.sec-what{
    padding-top: 50px;
    background-color: rgb(105, 105, 117);
}
.sec-what .manage{
    padding-top: 100px;
}
