@charset "UTF-8";

* {
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

body {
  width: 100%;
}

.tb {
  display: none;
}

#choose {
  display: none;
}

.import-btn {
  display: none;
}

img {
  width: 100%;
}

textarea {
  resize: none;
}

a {
  color: #000;
}

a:hover {
  cursor: pointer;
}

.body-content {
  padding-top: 6.944vw;
}

.cart,
.book-pg,
.ebook-pg,
.detail,
.contact-pg,
.order-pg,
.order-detail-pg,
.author-pg,
.auth-book,
.auth-ebook,
.category-pg,
.auth-feedback,
.auth-order,
.auth-order-detail,
.payment-pg,
.user-pg,
.user-edit-pg,
.profile-pg,
.profile-edit,
.change-password,
.create-pg,
.edit-pg {
  min-height: 77vh;
}

.mv {
  min-height: 60vh;
}

.f-2 {
  font-size: 2.5vw;
}

.f-3 {
  font-size: 1.944vw;
}

.f-4 {
  font-size: 1.528vw;
}

.f-5 {
  font-size: 1.389vw;
}

.f-6,
.btn {
  font-size: 1.25vw;
}

.f-7,
input,
textarea {
  font-size: 1.111vw;
}

.f-s {
  font-size: 0.972vw;
}

.bookhouse {
  color: yellow;
}

.mark-txt {
  color: #0760ae;
}

.alert-txt {
  color: #ff1100;
}

.green-txt {
  color: #4be617;
}

/* Public */
.logo,
.f-logo {
  width: 70px;
}

.profile {
  width: 50px;
  height: 50px;
}

.mv-txt {
  background: url("../images/img_index_bg1.png") no-repeat center/contain;
}

.book-cover {
  height: 15.972vw;
}

.book-card:hover {
  box-shadow: 0 0 15px #e3e7e0;
  opacity: 0.9;
}

.contact-txt {
  line-height: 1.4;
}

.mv .row {
  --bs-gutter-x: 0;
}

/* User */
.bg-image {
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background: url('../images/bg5.jpg') no-repeat center/cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.content {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 2;
  width: 80%;
  padding: 20px;
  border: 3px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}

.sec-what {
  padding-top: 50px;
  background-color: rgb(105, 105, 117);
}

.sec-what .box-two .text {
  padding-top: 140px;
}


/* Responsive Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .body-content {
    padding-top: 10.178vw;
  }

  .cart,
  .book-pg,
  .ebook-pg,
  .detail,
  .contact-pg,
  .order-pg,
  .order-detail-pg,
  .author-pg,
  .auth-book,
  .auth-ebook,
  .category-pg,
  .auth-feedback,
  .auth-order,
  .auth-order-detail,
  .payment-pg,
  .user-pg,
  .user-edit-pg,
  .profile-pg,
  .profile-edit,
  .change-password,
  .create-pg,
  .edit-pg {
    min-height: 70vh;
  }

  .f-2 {
    font-size: 3.562vw;
  }

  .f-3 {
    font-size: 2.799vw;
  }

  .f-4 {
    font-size: 2.29vw;
  }

  .f-5,
  .login,
  .register {
    font-size: 2.036vw;
  }

  .f-6,
  .btn {
    font-size: 1.781vw;
  }

  .f-7,
  input,
  textarea {
    font-size: 2.083vw;
  }

  .f-s {
    font-size: 1.527vw;
  }

  /* Public */
  .logo,
  .f-logo {
    width: 7.634vw;
  }

  .profile {
    width: 4.557vw;
    height: 4.557vw;
  }

  .book-cover {
    height: 20.356vw;
  }

  .book-card:hover {
    box-shadow: 0 0 1.908vw #e3e7e0;
    opacity: 0.9;
  }

  .contact-txt {
    line-height: 1.4;
  }

  /* User Dashboard */
  .tb {
    display: block;
  }

  .sec-what .box-one .text {
    padding-top: 10.178vw;
  }

  .sec-what .box-two .text {
    padding-top: 6.361vw;
  }
}

/* Smart phone */
@media screen and (max-width: 767.9px) {
  .body-content {
    padding-top: 15.625vw;
  }

  .cart,
  .book-pg,
  .ebook-pg,
  .detail,
  .contact-pg,
  .order-pg,
  .order-detail-pg,
  .author-pg,
  .auth-book,
  .auth-ebook,
  .category-pg,
  .auth-feedback,
  .auth-order,
  .auth-order-detail,
  .payment-pg,
  .user-pg,
  .user-edit-pg,
  .profile-pg,
  .profile-edit,
  .change-password,
  .create-pg,
  .edit-pg {
    min-height: 87vh;
  }

  .f-2 {
    font-size: 5.625vw;
  }

  .f-3 {
    font-size: 4.375vw;
  }

  .f-4 {
    font-size: 3.438vw;
  }

  .f-5,
  .login,
  .register {
    font-size: 3.125vw;
  }

  .f-6,
  .btn {
    font-size: 2.813vw;
  }

  .f-7,
  input,
  textarea {
    font-size: 2.5vw;
  }

  .f-s {
    font-size: 2.188vw;
  }

  /* Public */
  .logo,
  .f-logo {
    width: 10.938vw;
  }

  .profile {
    width: 6.25vw;
    height: 6.25vw;
  }

  .book-cover {
    height: 31.25vw;
  }

  .contact-txt {
    line-height: 1.4;
  }

  .order-pg .row {
    --bs-gutter-x: 0;
  }

  /* Admin Dashboard */
  .arrow {
    display: none;
  }

  .box {

    justify-content: space-evenly;
  }

  .box button {
    font-size: 10.003px;
  }

  .box i {
    display: none;
  }

  .list-one {
    height: 250.003px;
  }

  .list-two {
    height: 250.003px;
  }

  .graph .g-one {
    margin-bottom: 15.002px;
  }

  .graph .f-3 {
    margin-bottom: 10.003px;
  }

  /* User Dashboard */
  .tb {
    display: block;
  }

  .sec-what {
    line-height: 1.4;
    text-align: center;
  }

  .sec-what img {
    display: none;
  }

  .sec-what .box-one {
    padding-bottom: 30px;
    border-bottom: 3px solid whitesmoke;
  }

  .sec-what .box-one .text {
    width: 100%;
  }

  .sec-what .box-two .text {
    width: 100%;
    padding-top: 10px;
  }

}
